
<div class="container">
    
    <div class="mb-4">
        <p-toolbar>
            <div class="p-toolbar-group-start">
                <h5 class="m-0"> {{ esEditar ? 'ACTUALIZAR DATOS' : 'REGISTRAR DATOS'}}</h5>                    
            </div>
        </p-toolbar>
    </div>

    <div class="border p-4">
        <form class="row g-3" [formGroup]="form">

            <div class="col-md-6">
            <label  class="form-label">Nombre de la Mascota</label>
            

            <input type="text" class="form-control styleHeight" id="inputEmail4" formControlName="nombre">
            <div class="mt-1 mb-2" *ngIf="campoEsValido('nombre')">
                <span class="form-text text-danger position-absolute " > {{valorErrorMsg('nombre')}}</span>
            </div>
            </div>

            <div class="col-md-6">
            <label  class="form-label">Raza</label>
            <select  class="form-select styleHeight" formControlName="raza">
                <option selected [value]="">Seleccione...</option>
                <option *ngFor="let raza of this.listaRaza" [value]="raza.nombre">{{ raza.nombre}}</option>
            </select>
            <div class="mt-1 mb-2" *ngIf="campoEsValido('raza')">
                <span class="form-text text-danger position-absolute " > {{valorErrorMsg('raza')}}</span>
            </div>
            </div>
            
            <div class="col-md-6 py-3">
            <label for="inputCity" class="form-label">Edad</label>
            <input type="text" class="form-control styleHeight" id="inputCity" formControlName="edad">
            <div class="mt-1 mb-2" *ngIf="campoEsValido('edad')">
                <span class="form-text text-danger position-absolute " > {{valorErrorMsg('edad')}}</span>
            </div>
            </div>

            <div class="col-md-6 py-3">
                <label for="inputCity" class="form-label">Peso</label>
                <input type="text" class="form-control styleHeight" id="inputCity" formControlName="peso">
                <div class="mt-1 mb-2" *ngIf="campoEsValido('peso')">
                    <span class="form-text text-danger position-absolute " > {{valorErrorMsg('peso')}}</span>
                </div>
            </div>

            
        </form>
    </div>

    <div class="mt-4">
        <p-toolbar>
            <div class="p-toolbar-group-start">                
            </div>
            <div class="p-toolbar-group-end">
                <span class="p-input-icon-left">
                    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger me-3" (click)="cancelar()"></button>
                    <button pButton pRipple [label]="esEditar ? 'Actualizar' : 'Registrar'" icon="pi pi-check" [class]="esEditar ? 'p-button-primary me-2' : 'p-button-success me-2'" (click)="esEditar ? actualizarMascota() :registrarMascota()"></button>
                </span>
            </div>
        </p-toolbar>
    </div>

</div>
